@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Red+Rose:wght@300..700&family=Orbitron:wght@400..900&family=Figtree:wght@300..900&display=swap');

$font-family-almarai: 'Almarai';
$font-family-red-rose: 'Red Rose';
$font-family-sans-rose-serif: 'Red Rose', 'sans-serif';
$font-family-orbitron: 'Orbitron';
$font-family-figtree: 'Figtree';
