@use '../components/card';

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 100px));
    gap: 12px;
}
