body[data-theme='gaming'] {
  --theme-font-family: 'Orbitron';
  --theme-font-weight: 700;
  --theme-font-size: 8px;
  --theme-line-height: 100%;
  --theme-letter-spacing: 0.56px;
  --theme-header-text-color: rgba(255, 255, 255, 1);
  
  
  --bg-color-header: rgba(92, 102, 135, 0.96);
  --theme-header-radius: 18px;
  --theme-header-padding: 14px 26px;
  --theme-header-shadow: none;
  --theme-header-height:102px;

    --card-bg-size: cover;

  --bg-color-theme: linear-gradient(226.04deg, #294f60 19.4%, #2086b4 111.63%);
  --theme-game-over-bg: var(--bg-color-theme);
  --theme-game-over-title-color:rgba(237, 27, 118, 1);
  --theme-game-over-title-margin-bottom: 104px;
  --theme-game-over-message-color: rgba(255, 255, 255, 1);
  --theme-game-over-title-font-family: 'Orbitron';
  --theme-game-over-title-font-weight: 700;
  --theme-game-over-message-font-family: 'Orbitron';
  --theme-game-over-message-font-weight: 700;
  --theme-game-over-title-font-size: 124px;
  --theme-game-over-title-line-height: 100%;
  --theme-game-over-title-letter-spacing: 0.56px;
  --theme-game-over-title-text-transform: uppercase;
  --theme-game-over-message-font-size: 28px;
  --theme-game-over-message-line-height: 100%;
  --theme-game-over-message-letter-spacing: 0.56px;

  /* Winner */
  --theme-winner-bg: var(--theme-game-over-bg);
  --theme-winner-content-gap: 20px;
  --theme-winner-message-color: var(--theme-game-over-message-color);
  --theme-winner-message-font-family: var(--theme-game-over-message-font-family);
  --theme-winner-message-font-weight: var(--theme-game-over-message-font-weight);
  --theme-winner-message-font-size: var(--theme-game-over-message-font-size);
  --theme-winner-message-line-height: var(--theme-game-over-message-line-height);
  --theme-winner-message-letter-spacing: var(--theme-game-over-message-letter-spacing);
  --theme-winner-title-color: var(--theme-game-over-title-color);
  --theme-winner-title-font-family: var(--theme-game-over-title-font-family);
  --theme-winner-title-font-weight: var(--theme-game-over-title-font-weight);
  --theme-winner-title-font-size: var(--theme-game-over-title-font-size);
  --theme-winner-title-line-height: var(--theme-game-over-title-line-height);
  --theme-winner-title-letter-spacing: var(--theme-game-over-title-letter-spacing);
  --theme-winner-title-text-transform: var(--theme-game-over-title-text-transform, none);
  --theme-winner-title-text-shadow: var(--theme-game-over-title-text-shadow, none);
  --theme-winner-icon-width: 120px;
  --theme-winner-icon-height: 120px;


  /* Scoreboard */
  --theme-scoreboard-bg: rgba(255, 255, 255, 1);
  --theme-scoreboard-border: none;
  --theme-scoreboard-radius: 8px;
  --theme-scoreboard-width: 182px;
  --theme-scoreboard-height: 54px;
  --theme-scoreboard-padding: 10px 14px;
  --theme-scoreboard-shadow: none;
  --theme-scoreboard-gap: 40px;
  --theme-scoreboard-text-color: rgba(41, 79, 96, 1);
  --theme-scoreboard-label-height: 28px;
  --theme-scoreboard-label-width: 22px;
  --theme-scoreboard-label-blue: url("/assets/theme_files/gaming/label_blue.svg");
  --theme-scoreboard-label-orange: url("/assets/theme_files/gaming/label_orange.svg");
  --theme-scoreboard-value-font-size: 30px;
  --theme-scoreboard-value-font-family: 'Orbitron';
  --theme-scoreboard-value-font-weight: 700;
  --theme-scoreboard-value--orange-color:  rgba(234, 105, 0, 1);
  --theme-scoreboard-value--blue-color:  rgba(56, 178, 255, 1);
  
  #scoreBoard .scoreBoardEntry--orange .scoreBoardValue {
    color: var(--theme-scoreboard-value--orange-color);
  }
  #blueScoreValue{
    color: var(--theme-scoreboard-value--blue-color);
  }
  

  --theme-current-player-bg: transparent;
  --theme-current-player-border: none;
  --theme-current-player-radius: 0;
  --theme-current-player-padding: 0;
  --theme-current-player-shadow: none;
  --theme-current-player-label-color: rgba(255, 255, 255, 1);
  --theme-current-player-value-color: rgba(56, 178, 255, 1);
  --theme-current-player-label-font-size: 32px;
  --theme-current-player-label-font-weight: 700;
  --theme-current-player-label-letter-spacing: 7%;
  --theme-current-player-value-font-size: 32px;
  --theme-current-player-value-font-family: 'Orbitron';
  --theme-current-player-indicator-mask: url("/assets/theme_files/gaming/current_player_mask.svg");
  --theme-current-player-indicator-blue-bg: rgba(56, 178, 255, 1);
  --theme-current-player-indicator-orange-bg: rgba(234, 105, 0, 1);
  --theme-current-player-indicator-icon-color: rgba(255, 255, 255, 1);
  --theme-current-player-indicator-radius: 4px;
  --theme-current-player-indicator-glyph-width: 25px;
  --theme-current-player-indicator-glyph-height: 32px;
  --theme-current-player-indicator-width: 40px;
  --theme-current-player-indicator-height: 41px;

  --theme-exit-bg: rgba(237, 27, 118, 0.08);
  --theme-exit-border: 2px solid rgba(255, 34, 112, 1);
  --theme-exit-radius: 10px;
  --theme-exit-padding: 12px 20px;
  --theme-exit-font-size: 20px;
  --theme-exit-font-family: 'Orbitron'; 
  --theme-exit-letter-spacing: 4%;
  --theme-exit-gap: 10px;
  --theme-exit-min-width: 195px;
  --theme-exit-min-height: 54px;
  --theme-exit-shadow: none;
  --theme-exit-text-color: rgba(255, 255, 255, 1);
  --theme-exit-icon-color: rgba(255, 255, 255, 1);
}
