body[data-theme='codeVibes'] {
  --theme-font-family: 'Red Rose', sans-serif;
  --theme-font-weight: 400;
  --theme-font-size: 10px;
  --theme-line-height: 100%;
  --theme-letter-spacing: 0;
  --theme-header-text-color: rgba(255, 255, 255, 1);
  --theme-header-gap: 12px;
  --theme-header-top: 0;
  --theme-header-width: 1217px;
  --theme-header-max-width: 1440px;
  --theme-header-margin: 41px 112px;
  --theme-header-height: 62px;
  --theme-scoreboard-name-color: rgba(255, 255, 255, 1);
  --theme-scoreboard-value-color: rgba(255, 255, 255, 1);
  --theme-scoreboard-gap: 12px;
  --theme-scoreboard-width: 293px;
  --theme-scoreboard-height: 62px;
  --theme-scoreboard-label-font-family: 'Red Rose', sans-serif;
  --theme-scoreboard-label-font-weight: 700;
  --theme-scoreboard-label-font-size: 24px;
  --theme-scoreboard-label-line-height: 100%;
  --theme-scoreboard-label-letter-spacing: 0;
  --theme-scoreboard-label-width: 24px;
  --theme-scoreboard-label-height: 20px;
  --theme-scoreboard-chip-gap: 8px;
  --theme-scoreboard-chip-padding: 0;
  --theme-scoreboard-chip-radius: 0;
  --theme-scoreboard-chip-bg-blue: transparent;
  --theme-scoreboard-chip-bg-orange: transparent;
  --theme-scoreboard-chip-text-blue: rgba(43, 177, 255, 1);
  --theme-scoreboard-chip-text-orange: rgba(245, 142, 57, 1);
  --theme-scoreboard-chip-label-gap: 8px;
  --theme-current-player-label-color: rgba(255, 255, 255, 1);
  --theme-current-player-value-color: rgba(56, 178, 255, 1);
  --theme-current-player-gap: 8px;
  --theme-current-player-tag-gap: 8px;
  --theme-header-radius: 0;
  --theme-header-padding: 12px 26px;
  --theme-header-shadow: none;

 
  --bg-color-theme: linear-gradient(223.71deg, #303131 43.86%, #6d6d6d 122.2%);
  --theme-scoreboard-bg: rgba(103, 148, 142, 0.9);
  --theme-scoreboard-border: none;
  --theme-scoreboard-radius: 0;
  --theme-scoreboard-padding: 10px 14px;
  --theme-scoreboard-shadow: none;
  --theme-scoreboard-text-color: rgba(255, 255, 255, 1);
  --theme-scoreboard-label-blue: url("/assets/theme_files/codeVibes/label_blue.svg");
  --theme-scoreboard-chip-label-blue: "Blue";
  --theme-scoreboard-chip-label-orange: "Orange";
  --theme-scoreboard-label-orange: url("/assets/theme_files/codeVibes/label_orange.svg");

  --theme-current-player-bg: transparent;
  --theme-current-player-border: none;
  --theme-current-player-radius: 0;
  --theme-current-player-padding: 0;
  --theme-current-player-shadow: none;
  --theme-current-player-text-color: rgba(255, 255, 255, 1);
  --theme-current-player-label-font-family: 'Red Rose';
  --theme-current-player-label-letter-spacing: 0;
  --theme-current-player-label-line-height: 100%;
  --theme-current-player-label-font-weight: 400;
    --theme-current-player-label-font-size: 26px;

  --theme-exit-bg: rgba(134, 233, 214, 0.2);
  --theme-exit-border: 1px solid rgba(77, 213, 188, 1);
  --theme-exit-radius: 0;
  --theme-exit-padding: 16px 24px;
  --theme-exit-gap: 10px;
  --theme-exit-min-width: 207px;
  --theme-exit-min-height: 62px;
  --theme-exit-icon-width: 25.75px;
  --theme-exit-icon-height: 22.5px;
  --theme-exit-shadow: none;
  --theme-exit-text-color: rgba(255, 255, 255, 1);
  --theme-exit-font-family: 'Red Rose', sans-serif;
  --theme-exit-font-weight: 700;
  --theme-exit-font-size: 24px;
  --theme-exit-line-height: 100%;
  --theme-exit-letter-spacing: 0;
}
