@mixin flexColumn($align: start, $direction: column, $gap: 0, $justify: start) {
   display: flex;
   flex-direction: $direction;
   align-items: $align;
   gap: $gap;
   justify-content: $justify;
}

@mixin themedSurface($background: null, $radius: null, $padding: null, $border: null, $textColor: null, $height: null, $width: null) {
   @if $background != null {
      background: $background;
   }
   
   @if $radius != null {
      border-radius: $radius;
   }

   @if $padding != null {
      padding: $padding;
   }

   @if $border != null {
      border: $border;
   }

   @if $textColor != null {
      color: $textColor;
   }

   @if $height != null {
      height: $height;
   }

   @if $width != null {
      width: $width;
   }
}